@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.title {
  font-family: "Jua", "Noto Sans KR", sans-serif;
  font-size: 3rem;
  color: var(--title);
}
.subtitle {
  font-family: "Jua", "Noto Sans KR", sans-serif;
  font-size: 2rem;
  color: var(--sub-title);
}
.subtext {
  font-size: 0.9rem;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--sub-text);
  font-weight: demi-light;
}

@media (max-width: 1240px) {
  .title {
    font-size: 2.25rem;
  }
  .subtitle {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.75rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  body {
    font-size: 0.9rem;
  }
  .subtext {
    font-size: 0.8rem;
  }
}
